
h1 {
  color: black;
}
h2 {
  color: gray;
}
h3 {
  color: deeppink;
}
h5 {
  color: black;
}
img {
  width: 90%;
}

.img-mid {
  width: 50%;
}
.img-small {
  width: 26%;
  margin-right: 9px;
  margin-left: 9px;
}
.title-color {
  color: #f8b334;
}
.icon {
  width: 25px;
  margin-right: 5px;
}
.icon-big {
  width: 40px;
  margin-right: 5px;
}

.icon-tfe {
  transform: scale(2);
  margin-right: 30px;
}
