<div class="body-class">

  <div (click)="goToTfe()" class="clickable">
    <h1><span class="material-icons icon">analytics</span>Travail de fin d'études (2022)</h1>

    <div class="carre_couleur base_hov" style="background-color:#f8b334;">
      <div class="retract" style="background-color:#f8b334;">
        <img src="https://i.imgur.com/DbPLA27.png"></div>
      <div class="acced">
        <div class="big_acced" style="color: slateblue;">Robot secouriste</div>
        <div class="middle_acced">Plus de détails</div>
      </div>
    </div>
  </div>


  <div class="border-divisor-big"></div><br><br>


  <h1><span class="material-icons icon">computer</span>Participation aux Hackatons</h1>

  <h3>Mar 2020</h3>
  <h4>Citizens of Wallonia - ULiège</h4>
  <div class="border-divisor"></div>

  <h3>Oct 2019</h3>
  <h4>Hope for Climate - UNamur</h4>
  <div class="border-divisor"></div>

  <h3>Avr 2019</h3>
  <h4>Space Office Hackaton - MIC (Mons)</h4>
  <div class="border-divisor"></div>

  <h3>Mar 2019</h3>
  <h4>Single Digital Gateway - BeCentral (Bxl)</h4>
  <div class="border-divisor"></div>

  <h3>Mar 2019</h3>
  <h4>Citizens of Wallonia - UMons</h4>
  <div class="border-divisor"></div>

  <h3>Oct 2018</h3>
  <h4>Smart Rurality - UNamur</h4>
</div>
