<div class="body-class">

  <div>
    <h1><span class="material-icons icon">analytics</span>Travail de fin d'études (2022)</h1>
    <div class="subject">
      <figure class="snip0016 clickable" (click)="goToTfe()" >
        <img src="https://i.imgur.com/DbPLA27.png" alt="TFE sample photo"/>
        <figcaption>
          <h2><span>Robot secouriste</span></h2>
          <p>Plus de détails..</p>
        </figcaption>
      </figure>
    </div>
  </div>


  <div class="border-divisor-big"></div><br><br>

  <h1><span class="material-icons icon">description</span>Portfolio</h1>
  <h3>Mon portfolio Crée en février 2023</h3>
  <h4>Le portfolio a été conçu avec Angular 13 et a été déployé avec Firebase</h4>
  <p><a target=”_blank” href="https://github.com/ahmad-barutchi/Portfolio"><img class="icon-big" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
    Dépôt Github: https://github.com/ahmad-barutchi/Portfolio</a></p>

  <div class="border-divisor-big"></div><br><br>


  <h1><span class="material-icons icon">computer</span>Participation aux Hackatons</h1>

  <h3>Fév 2023</h3>
  <h4><b>CSLabs:</b> Le Handicap - UNamur</h4>
  <div class="border-divisor"></div>

  <h3>Mar 2020</h3>
  <h4>Citizens of Wallonia - ULiège</h4>
  <div class="border-divisor"></div>

  <h3>Oct 2019</h3>
  <h4><b>CSLabs:</b> Hope for Climate - UNamur</h4>
  <div class="border-divisor"></div>

  <h3>Avr 2019</h3>
  <h4>Space Office Hackaton - MIC (Mons)</h4>
  <div class="border-divisor"></div>

  <h3>Mar 2019</h3>
  <h4>Single Digital Gateway - BeCentral (Bxl)</h4>
  <div class="border-divisor"></div>

  <h3>Mar 2019</h3>
  <h4>Citizens of Wallonia - UMons</h4>
  <div class="border-divisor"></div>

  <h3>Oct 2018</h3>
  <h4><b>CSLabs:</b> Smart Rurality - UNamur</h4>
</div>
