

<!--<div class="component-class" [ngStyle]="{'background-image': ' linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../assets/images/' + backgroundImage + ')'}">-->
<router-outlet>
    <button (click)="goToAbout()" class="nav-button">À propos</button>
<!--    <button (click)="goToProjects()" class="nav-button">Projects</button>-->
    <button (click)="goToActivities()" class="nav-button">Activités</button>
    <button (click)="goToContact()" class="nav-button">Contact</button>
    <button (click)="goToHome()" class="nav-button">Accueil</button>
  <br><br><br><br>
</router-outlet>
<app-footer></app-footer>
<!--</div>-->
