
<div class="body-class">
  <div class="flt-parent">
    <a target=”_blank” class="flt" onclick='window.open("https://api.bevopr.io/files/Resume/1f0fe303-6d64-4428-abd6-e9b6be50a93d.pdf")'>
      <img class="icon-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Icon_pdf_file.svg/1795px-Icon_pdf_file.svg.png">
      Télécharger le CV en format PDF</a>
  </div>
  <img alt="Avatar - Ahmad Barutchi" class="my-img" src="./assets/images/Ahmad%20Barutchi.jpg">
  <h1><b>Ahmad Barutchi</b></h1>

  <h2>Développeur en Informatique junior</h2>

  <mat-icon>phone</mat-icon> 0472 813 831 <br>
  <img class="icon-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2RYeN56EvozwyyxYGDw4dTu-pbUZyNxnF93zSLUcOlQ&s">
  <a href="https://www.linkedin.com/in/ahmad-barutchi-b5b035114/">Ahmad Barutchi</a><br>
  <mat-icon>mail</mat-icon> ahmad.barutchi@gmail.com <br>
  <a target=”_blank” href="https://github.com/ahmad-barutchi"><img class="icon-small" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
    https://github.com/ahmad-barutchi</a><br>
  <mat-icon>home</mat-icon> Rue du Gouvernement 54, 7000 MONS, Belgique.

  <h3 class="bio">
    Âgé de 28 ans, je suis diplomé en bachelier informatique et Systèmes,
    orientation Réseaux et Télécommunications <br> de la Haute école en Hainaut.
  </h3>


  <div class="languages-driving">
    <div class="languagesParent">
      <h1 class="LanguageTitle"><span class="material-icons icon">language</span>Langues</h1>
      <div class="languages">
        <mat-progress-spinner color="primary" mode="determinate" value="98"></mat-progress-spinner>
        <h3>Français (C2)</h3>
      </div>
      <div class="languages">
        <mat-progress-spinner color="primary" mode="determinate" value="93"></mat-progress-spinner>
        <h3>Anglais (C1)</h3>
      </div>
      <div class="languages">
        <mat-progress-spinner color="primary" mode="determinate" value="100"></mat-progress-spinner>
        <h3>Arabe (C2)</h3>
      </div>
    </div>

    <div class="driving">
      <h1>Permis de conduire</h1>
      <span class="material-icons material-icons-driving">directions_car</span><h3>(B) depuis 2014</h3>
    </div>
  </div>


  <div class="border-divisor-big"></div>

  <div>
    <h1><span class="material-icons icon">work</span>Expériences</h1>
    <h3> Février - mai 2022 <br> Stage chez Cetic asbl (Hybride) - Charleroi, Belgique</h3>
    <h4>Développement d’une application web de monitoring, Angular</h4>
    <div class="border-divisor"></div>

    <h3> Février - mai 2021 <br> Stage chez ACEA (à distance) - Bruxelles, Belgique</h3>
    <h4>Développement d’une application web service, WinDev - Python</h4>
    <div class="border-divisor"></div>

    <h3>Juin - décembre 2019 <br> La Cédraie - Mons, Belgique</h3>
    <h4>Job étudiant en Restauration rapide</h4>
    <div class="border-divisor"></div>

    <h3>Depuis août 2016 <br> Apprentus - Belgique</h3>
    <a href="https://apprentus.be/ahmad.barutchi">https://apprentus.be/ahmad.barutchi</a>
    <h4>Professeur particulier d’informatique et de musique (à domicile et à distance)</h4>
    <div class="border-divisor"></div>

    <h3>2013 -2015 <br> Bénévole à la Croissant Rouge - Alep, Syrie</h3>
    <h4>Distribution de colis alimentaire - Soutien émotionnel aux enfants atteints de cancer - Sécouriste</h4>
  </div>


  <div class="border-divisor-big"></div>

  <div>
    <h1><span class="material-icons icon">fact_check</span>Formations</h1>

    <h3> 2017-2022 <br> HEH - Haute École en Hainaut - Mons, Belgique </h3>
    <h4>Bachelier en Informatique et Systèmes, Orientation Réseaux et Télécommunications (option développement)</h4>
    <div class="border-divisor"></div>

    <h3> 2016 - 2017 <br> Promotion sociale de Mons</h3>
    <h4> Apprendre la langue française <br> A1 - A2 - B1 - B2</h4>
    <div class="border-divisor"></div>

    <h3>02 Mai - 23 jun 2016 <br> KASK / School of Arts, HoGent - Gand, Belgique</h3>
    <a href="https://opendesigncourse.be">https://opendesigncourse.be</a>
    <h4> Formation en Art - Open Design Course </h4>
    <div class="border-divisor"></div>

    <h3>Jun - sep 2015 <br> AIC4T - American International Center for Training - Alep</h3>
    <h4>Formateur professionnel</h4>
    <div class="border-divisor"></div>

    <h3> 2013 - 2015 <br> Université d’Alep - Syrie</h3>
    <h4> Diplôme en Ingénierie technique des équipements médicaux </h4>
  </div>


  <div class="border-divisor-big"></div>

  <div class="competence">
    <br>
    <h1><span class="material-icons icon">rocket_launch</span>Compétences</h1>
    <h4>Dévloppeur Full-Stack (Front-end, Back-end), Développement Mobile (Android), Applications web</h4>

    <h3>FRAMEWORKS</h3>
    <h4>Flask, Spring Boot, Angular, React, PyMongo</h4>

    <h3>CONCEPTS</h3>
    <h4>Linux, Programmation orientée objet (POO), Algorithmie</h4>

    <h3>LANGAGES</h3>
    <h4>Python, Java, C#, SQL, PHP</h4>

    <h3>LOGICIELS</h3>
    <h4>Git, Docker, IntelliJ IDEA, Android Studio, MySQL, PostgreSQL</h4>
  </div>
</div>

<div class="transition-pic">
  <div class="portrait" id="portrait">
    <div class="fill cover-img"></div>
    <div class="fill z-10 hover">
      <div class="fill cover-img hover-img"></div>
    </div>
  </div>
</div>

<script>
  var root = document.getElementById("portrait");

  var mouse_monitor = function (e) {
    let x = e.clientX / innerWidth;
    let y = e.clientY / innerHeight;

    let move_x = x > 0.5 ? "-30px" : "30px";
    let move_y = y > 0.5 ? "-20px" : "20px";

    root.style.setProperty("--translate-x", move_x);
    root.style.setProperty("--translate-y", move_y);
  };

  root.addEventListener("mousemove", mouse_monitor);

</script>
